.hide{
    display: none;
}

#msg{
    padding-top: 20px;
}

#full{
    border: 10px #48c774;
}

.avatar:hover {
    opacity: 80%;
}

.date{
    padding-left: 10px;
}

.image-upload>input {
    display: none;
}

.avatar {
    margin-top: -50px;
    padding-bottom: 0;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

#ba{
    padding-right: 100px;
}

#tss{
    position: sticky;
    top: 125px;
}

#tssp{
    position: absolute;
    height: 100%;
}

#hideMe {
    position: absolute;
    top: 50px;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}