body{
    background-color: lightgray;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-color: white;
}

.butt{
    margin: 10%;
}

#prof{
    margin-top: 50px;
}


.field{
    padding-bottom: 10px;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}