body{
    background-color: lightgray;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-color: white;
}

.butt{
    margin: 10%;
}

#prof{
    margin-top: 50px;
}

.image-upload>input {
    display: none;
}

.avatar {
    margin-top: -100px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}


.avatar:hover {
    opacity: 80%;
}


.field{
    padding-bottom: 10px;
}