{% extends "base.twig" %}

{% block title %}Error Page{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-bold is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <i class="fas fa-times fa-7x" aria-hidden="true"></i>
                    <h3 class="title has-text-white">ERROR!</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">Something went wrong</p>
                </div>
                <form class="is-centered" action="{{ url_for('sign-in-view') }}">
                    <button class="button is-light">
                <span class="icon" style="color: black">
                    <i class="fas fa-home"></i>
                </span>
                        <span title="Hello from the other side" class="has-text-black has-text-centered">Log In</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}