{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block header %}
    <header>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="../">
                                <i class="fas fa-money-bill-alt"></i>
                                <p class="">Fpay</p>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <ul>
                                        <li class="is-active"><a>Home</a></li>
                                    </ul>
                                    {% if logged %}
                                        <form action="{{ url_for('logout-post') }}" method="POST" >
                                            <span class="navbar-item">
                                                <button class="button is-light">
                                                    <span class="icon" style="color: black">
                                                        <i class="fas fa-door-open"></i>
                                                    </span>
                                                    <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                                </button>
                                            </span>
                                        </form>
                                    {% else %}
                                        <form action="{{ url_for('sign-up-view') }}" method="GET" >
                                        <span class="navbar-item">
                                            <button class="button is-light">
                                                <span class="icon" style="color: black">
                                                    <i class="fas fa-user-plus"></i>
                                                </span>
                                                <span title="Hello from the other side" class="has-text-black has-text-centered">Sign Up</span>
                                            </button>
                                        </span>
                                        </form>

                                        <form action="{{ url_for('sign-in-view') }}" method="GET" >
                                        <span class="navbar-item">
                                            <button class="button is-white is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-sign-in-alt"></i>
                                                </span>
                                                <span title="Hello from this side">Sign In</span>
                                            </button>
                                        </span>
                                        </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        The new standard in &lt;insert industry here&gt;
                    </h1>
                    <h2 class="subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </h2>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <section class="hero is-light">
        <div class="hero-body">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <i class="fas fa-tachometer-alt fa-7x"></i>
                </div>
                <div class="column has-text-centered">
                    <i class="fas fa-shield-alt fa-7x"></i>
                </div>
                <div class="column has-text-centered">
                    <i class="fas fa-box-open fa-7x"></i>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    El servei més ràpid de la república
                </div>
                <div class="column has-text-centered">
                    Protegit per la justícia de bèlgica
                </div>
                <div class="column has-text-centered">
                    97% transparent (3% menys per problemes tècnics)
                </div>
            </div>
        </div>
    </section>
{% endblock %}